body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
}
h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 40px, 10p Ax;
  padding: 0;
}
.game-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  background-color: antiquewhite;
}
.game-button {
  width: 100px; /* Adjust this value to your preferred width */
}

/*put display in top left corner */

#currency-display {
  position: absolute;
  top: 0;
  padding: 10px;
  margin: 10px 0;
  font-size: 25px;
  font-weight: bold;
  background-color: lightgray;
}

#click-button {
  margin: 40px 30px;
  background-color: #e0e0e0;
  border-radius: 5px;
  padding: 10px 20px;
  border: solid;
  font-size: 30px;
}

.upgrades-section {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: -20px;
  position: relative;
}

#upgrades {
  background-color: #e0e0e0;
  padding: 10px 20px;
  border-radius: 5px;
  border: solid; /* Add this line to remove the default button border */
}

.income-section {
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 5px;
}
